<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madou.springbootinit.mapper.GemallCartMapper">

    <resultMap id="BaseResultMap" type="com.madou.springbootinit.model.entity.GemallCart">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
        <result property="goodsSn" column="goods_sn" jdbcType="VARCHAR"/>
        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="productId" column="product_id" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="number" column="number" jdbcType="SMALLINT"/>
        <result property="specifications" column="specifications" jdbcType="VARCHAR"
                typeHandler="com.madou.springbootinit.mybatis.JsonStringArrayTypeHandler"/>
        <result property="checked" column="checked" jdbcType="TINYINT"/>
        <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
        <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,goods_id,
        goods_sn,goods_name,product_id,
        price,`number`,specifications,
        checked,pic_url,add_time,
        update_time,deleted
    </sql>
</mapper>
