<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madou.springbootinit.mapper.GemallSystemMapper">

    <resultMap id="BaseResultMap" type="com.madou.springbootinit.model.entity.GemallSystem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="keyName" column="key_name" jdbcType="VARCHAR"/>
            <result property="keyValue" column="key_value" jdbcType="VARCHAR"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,key_name,key_value,
        add_time,update_time,deleted
    </sql>
</mapper>
