<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madou.springbootinit.mapper.GemallRoleMapper">

    <resultMap id="BaseResultMap" type="com.madou.springbootinit.model.entity.GemallRole">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="desc" column="desc" jdbcType="VARCHAR"/>
            <result property="enabled" column="enabled" jdbcType="TINYINT"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,desc,
        enabled,add_time,update_time,
        deleted
    </sql>
</mapper>
