<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madou.springbootinit.mapper.GemallOrderGoodsMapper">

    <resultMap id="BaseResultMap" type="com.madou.springbootinit.model.entity.GemallOrderGoods">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsSn" column="goods_sn" jdbcType="VARCHAR"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="number" column="number" jdbcType="SMALLINT"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="specifications" column="specifications" jdbcType="VARCHAR"/>
            <result property="picUrl" column="pic_url" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="INTEGER"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,goods_id,
        goods_name,goods_sn,product_id,
        number,price,specifications,
        pic_url,comment,add_time,
        update_time,deleted
    </sql>
</mapper>
