<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madou.springbootinit.mapper.GemallAddressMapper">

    <resultMap id="BaseResultMap" type="com.madou.springbootinit.model.entity.GemallAddress">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="county" column="county" jdbcType="VARCHAR"/>
            <result property="addressDetail" column="address_detail" jdbcType="VARCHAR"/>
            <result property="areaCode" column="area_code" jdbcType="CHAR"/>
            <result property="postalCode" column="postal_code" jdbcType="CHAR"/>
            <result property="tel" column="tel" jdbcType="VARCHAR"/>
            <result property="isDefault" column="is_default" jdbcType="TINYINT"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,`name`,user_id,
        province,city,county,
        address_detail,area_code,postal_code,
        tel,is_default,add_time,
        update_time,deleted
    </sql>
</mapper>
