<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madou.springbootinit.mapper.GemallKeywordMapper">

    <resultMap id="BaseResultMap" type="com.madou.springbootinit.model.entity.GemallKeyword">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="keyword" column="keyword" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="isHot" column="is_hot" jdbcType="TINYINT"/>
            <result property="isDefault" column="is_default" jdbcType="TINYINT"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
            <result property="addTime" column="add_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,keyword,url,
        is_hot,is_default,sort_order,
        add_time,update_time,deleted
    </sql>
</mapper>
